name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and Run Unit Tests
        run: docker build --target test ./backend

  integration-test:
    runs-on: ubuntu-latest
    needs: unit-test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Integration Tests
        run: |
          docker compose build backend
          docker compose run --rm -e TESTING=1 backend pytest tests/integration

  e2e-test:
    runs-on: ubuntu-latest
    needs: unit-test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Frontend Tests
        run: docker build --target test ./frontend



